@font-face {
    font-family:"copperplate-bold-regular";
    src:url("../fonts/Copperplate_Gothic_Bold_Regular.ttf") format("opentype");
    font-display:auto;
}
@font-face {
    font-family:"copperplate-bold";
    src:url("../fonts/Copperplate_Gothic_Bold.TTF") format("TrueType");
    font-display:auto;
}
@font-face {
    font-family:"copperplate-light";
    src:url("../fonts/Copperplate_Gothic_Light.TTF") format("TrueType");
    font-display:auto;
}