@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./pages/";

:root {
  font-size: 16px;
}

.container {
  display: flex; 
}

body {
  background: $home-bg;
  font-family: $open-sans;
  font-size: 16px;
  color: $font-color;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 26px;
}

