//font sizes
$base-size: 16;

// colours
$home-bg:#2ce6ce;
$question-wrapper-bg: #f2f2f2;
$font-color: #606060;
$white: #ffffff;
$block-bg: hsl(0, 0%, 97%);
$light-green: #1b828e;
$question-bg: #166e78;
$light-black: #757575;
$extra: #0d4d54;
$disable: #dedede;
$btn-disabled-bg: #ededed;


// fonts and font families
$open-sans: 'Open Sans', sans-serif;
$copperplate: "copperplate",serif;
$copperplate-bold-regular: "copperplate-bold-regular",serif;
$copperplate-condensed: "copperplate-condensed",serif;
$copperplate-bold: "copperplate-bold",serif;
$copperplate-light: "copperplate-light",serif;
